<div class="container">
  <div id="text">
    <h1>利用方法</h1>
  </div>
  <div id="description">
    <div>
      <h2>対戦を募集する</h2>
      <ol>
        <li>シャドウバースアプリ内の『ルームマッチ機能』でルームを作成する</li>
        <li>表示されたルームナンバーを確認する</li>
        <li>マッチングアプリの『対戦ルーム作成』ページに、『使用リーダー』、『ルームID(5ケタ)』を入力し、投稿する</li>
        <li>シャドウバースアプリに戻り、対戦相手を待つ</li>
      </ol>
    </div>
    <div>
      <h2>対戦する</h2>
      <ol>
        <li>マッチングアプリの『対戦募集一覧』から対戦したい投稿を開く</li>
        <li>ルームIDを確認し、シャドウバースアプリの『ルームマッチ機能』の『ルームに入る』でルームIDを入力する</li>
      </ol>
    </div>
    <div>
      <h2>注意事項</h2>
        <ol>
          <li>投稿された対戦募集は投稿ページが開かれると『対戦募集一覧』から削除されますので、基本的にページを開いた人しか内容を確認出来ません</li>
          <li>上記の事から、対戦を希望しない場合は募集投稿を開かないでください</li>
          <li>マナーを守って対戦を楽しんでください </li>
        </ol>
    </div>
     <%= link_to "Topページ", root_url %>
  </div>    
</div>  
